$text-color:  #1e1e1e;
$title-color: #4764b0;

$background-color: #f5f0f0;
$background-aside: #fff;

$font-family: "Arial", "Tahoma", sans-serif;

$mobile-width:  300px;
$tablet-width:  700px;
$desktop-width: 1020px;
$hiscreen-width: 1340px;

$tablet-container: 610px;
$desktop-container: 930px;
$hiscreen-container: 1250px;


