.header {
  padding: 20px 35px 30px 35px;
  background-color: #fff;
}

.header__logo {
  display: block;
  width: 105px;
  height: 32px;
}

.header__nav-link {
  display: none;
  width: 20px;
  height: 20px;
}
