.header .container {
  background-color: #fff;
}

.header__nav {
    padding: 24px 20px 27px;
}

.header__logo {
  display: block;
  width: 105px;
  height: 32px;
}

.header__nav-link {
  display: none;
  width: 20px;
  height: 20px;
}
