.promo {
  margin-bottom: 34px;
}

.promo .container {
  background-color: transparent;
}

.promo__image {
  width: 93%;
  margin-left: auto;
}

.promo__aside {
  position: relative;
  z-index: 10;
  width: 93%;
  margin-top: -44px;
  padding: 34px 20px 29px;
  background-color: $background-aside;

  & h2 {
    margin-bottom: 12px;
  }

  & p {
    margin: 0;
    margin-bottom: 9px;
    padding: 0;
  }
}
