.staff {
  padding-left: 20px;
}

.staff h2 {
  padding-right: 46px;
}

.staff__btn {
  display: none;
}

.staff__slider {
  background-color: $background-aside;
}

.staff__slide {
  padding: 25px 20px 150px;
  overflow: hidden;
}

.staff p {
  margin-bottom: 10px;
}
